h1 {
  color: rgb(119, 29, 245);
  background-color: rgb(0, 255, 238);
  width: 300px;
}

h2 {
   color: rgb(199, 29, 245);
   background-color: rgb(0, 255, 238);
   width: 300px;
}

#firstText:hover {
                 color: rgb(0, 255, 245);
                 background-color: rgb(119, 29, 245);
                 width: 300px;
}

#secondText {
            text-decoration: none;
}

#secondText:hover {
                   text-decoration: underline;
}

#secondText {
             color: (black);
}
